.form-control{
    width: auto!important;
    display: initial!important;
}

.form-control.is-invalid{
    padding-right:inherit!important;
}
.is-invalid~.invalid-feedback{
    display: inline!important;
}


.main-content.overlay-active {
  filter: grayscale(100%); /* 完全灰化 */
  pointer-events: none; /* 禁止點擊 */
  opacity: 0.3; /* 降低不透明度 */
}


.status-ok {
 background-color: green !important;
}

.status-warn {
 background-color: yellow !important;
}

.status-ng {
 background-color: red !important;
}
